.skills{
    padding: 2rem;

  }
  
  .skills h1{
    padding: 10px;
    text-align: center;
    color: #faf606;
  }

  .skilled{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
}

  .portfolio{
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
  }

  .portf{
    flex: 1;
  }

.lange{
  flex: 1;
}

.language img{
  border-radius: 20%;
}

  .list{
    height: 200px;
    max-width: 300px;
    padding: 30px;
    object-fit: contain;
    cursor: pointer;
  }

  .list:hover{
    opacity: 0.8;
    border-radius: none;
    scale: 105%;
    transition-duration: 1s;
  }

  @media(max-width:1250px){
    .skilled{
      flex-direction: column-reverse;
    }
    .portfolio{
      flex-direction: column;
    }
  }

  @media(max-width:800px){

    .language{
      display: flex;
      justify-content: center;
      flex-direction: column;
    }
  }

  @media(max-width:560px){
    .portf{
      display: flex;
      justify-content: center;
    }
    .portf img{
      width: 80%;
    }
  }